{% extends 'base.html.twig' %}

{% block title %}Nouvelle saison{% endblock %}

{% block body %}
    <h1>Créer un nouvelle saison</h1>

    {{ include('season/_form.html.twig') }}

    <a href="{{ path('season_index') }}">Retour à la liste des saisons</a>
{% endblock %}
