$theme-colors: (
  "primary": #3b8dd0,
  "secondary": #fafafa
  );
  
@import "~bootstrap/scss/bootstrap";

nav{
  background-color: #3b8dd0;
}

.navbar-light .navbar-brand{
  color: white;
}

.navbar-light .navbar-nav .nav-link{
  color: white;
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active{
  color:white;
}

.episode-show{
  display: flex;
  align-items: center;
  justify-content: center;
}